<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Log Chill</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.BIJTHIJS.ChillMate.shortcut.log</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start Timer</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.BIJTHIJS.ChillMate.shortcut.timers</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeContact</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Panic Support</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.BIJTHIJS.ChillMate.shortcut.panic</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Safe Route Home</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.BIJTHIJS.ChillMate.shortcut.route</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
